<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>专家评估系统</title>
    <link href="../../css/src/main.css" type="text/css" rel="stylesheet">
</head>
<body>
<div class="header">头部</div>
<div class="main">
    <div class="mLeft">

        <script src="menu.js"></script>

    </div>
    <div class="mRight">
        <a class="close" href="worksMgr.html">关闭</a>
        <div class="titleContainer">
            <h2 id="title">这厢有礼</h2>
        </div>
        <div>
            <img id="image1" style="margin:10px auto;display: block;" src="../../data/images/work/1/001.jpg">
            <img id="image2" style="margin:10px auto;display: block;" src="../../data/images/work/1/detail1.jpg">
        </div>
    </div>
</div>

<script type="text/javascript" src="../../js/lib/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="../../js/src/config.js"></script>
<script>
    var pageName="worksMgr";
    $("#menu a[data-page='"+pageName+"']").addClass("active");

    var hash=location.hash,id;
    hash=hash.split("&");
    id=hash[0].substring(1);

    $("#title").text(config["data"][id]["title"]);
    $("#image1").attr("src","../../data/images/work/"+id+"/00"+id+".jpg");
    $("#image2").attr("src","../../data/images/work/"+id+"/detail"+id+".jpg");

    if(hash.length==2){
        $(".close").attr("href","worksMgr1.html");
    }
</script>
</body>
</html>