<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>专家评估系统</title>
    <link href="../../css/src/main.css" type="text/css" rel="stylesheet">
</head>
<body>
<div class="header">头部</div>
<div class="main">
    <div class="mLeft">

        <script src="menu.js"></script>

    </div>
    <div class="mRight">
        <div class="titleContainer">
            <ul class="list2">
                <li><a  href="works.html">全部</a></li>
                <li><a class="active" href="works1.html">未打分</a></li>
                <li><a href="works2.html">已打分</a></li>
            </ul>
        </div>
        <div>
            <ul class="list">
                <li>
                    <a href="workDetail.html"><img src="../../data/images/work/1.gif"></a>
                </li>
                <li>
                    <a href="workDetail.html"><img src="../../data/images/work/2.gif"></a>
                </li>
                <li>
                    <a href="workDetail.html"><img src="../../data/images/work/3.gif"></a>
                </li>

            </ul>
        </div>
    </div>
</div>

<script type="text/javascript" src="../../js/lib/jquery-2.0.3.min.js"></script>
<script>
    var pageName="works";
    $("#menu a[data-page='"+pageName+"']").addClass("active");
</script>
</body>
</html>