<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>专家评估系统</title>
    <link href="../../css/src/main.css" type="text/css" rel="stylesheet">
</head>
<body>
<div class="header">头部</div>
<div class="main">
    <div class="mLeft">

        <script src="menu.js"></script>

    </div>
    <div class="mRight">
        <a class="close" href="works.html">关闭</a>
        <div class="titleContainer">
            <h2>作品1的详情</h2>
        </div>
        <div>
            <img style="margin:10px auto;display: block;" src="../../data/images/work/judge.gif">
            <img style="margin:10px auto;display: block;" src="../../data/images/work/detail1.gif">
        </div>
    </div>
</div>
</body>
</html>